<div class="mainPage">
    
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Attendance">
            <div class="schedules">
                <mat-list *ngIf="schedules" >
                    <mat-list-item *ngFor="let s of schedules" class="schedule"> {{s}} </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>


        <mat-tab label="Schedule">
            <div>
                <h4>Schedules
                    <button type="button" style="float:right" *ngIf="!addSchedule" (click)="openAddSchedule()">+</button>
                    <button type="button" style="float:right" *ngIf="addSchedule" (click)="closeAddSchedule()">-</button>
                </h4>
            </div>
            <hr>
        
            <div *ngIf="addSchedule" >
                <form [formGroup]="form">
        
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput  [matDatepicker]="picker" 
                            [min]="todaysDate"    formControlName="scheduleDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
        
                    <mat-form-field>
                        <mat-label>Hour</mat-label>
                        <input matInput type="number" min="0" max="23" formControlName="hour">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Minutes</mat-label>
                        <input matInput type="number" min="0" max="59" formControlName="minute">
                    </mat-form-field>
                    <br>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Repeat Schedule</mat-label>
                        <mat-select formControlName="repeat">
                        <mat-option  value="No">No Repeat</mat-option>
                        <mat-option  value="Month">For the month</mat-option>
                        <mat-option  value="Year">For whole year</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
        
                    <button type="button" mat-raised-button color="primary" 
                        [disabled]="form.invalid"   (click)="saveSchedule()">
                        <mat-icon>save</mat-icon> SAVE
                    </button>
                </form>
            </div>
            <div *ngIf="updateMsg">
                <div *ngIf="updateMsg=='Schedule saved'">
                    Successfully added schedule for {{ currentClass }}
                </div>
            </div>
        
            <div class="schedules">
                <div *ngIf="schedules" >
                    <div *ngFor="let s of schedules" class="schedule"> {{s}} </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Details">
            Class Details
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="startStudentTab()">Students</span>  
                <!-- get students on tab click -->
            </ng-template>
            <div>
                <h4>Students
                    <button type="button" mat-raised-button color="primary" style="float:right">
                        <mat-icon>add</mat-icon>
                        ADD STUDENT
                    </button>
                </h4>
            </div>
            <div>
                <form [formGroup]="studentSearchForm">
                    <div style="font-size: 10px">
                        <mat-form-field appearance="outline">
                            <mat-label>Search Student</mat-label>
                            <input matInput type="text" formControlName="searchName">
                        </mat-form-field>
                    </div>
                    <button type="button" mat-raised-button color="primary" (click)="searchStudents()">
                        <mat-icon>search</mat-icon>
                        SEARCH
                    </button>
                </form>
                <table mat-table [dataSource]="studentsDisplay">
                    <mat-text-column name="studentId"></mat-text-column>
                    <mat-text-column name="name"></mat-text-column>
                    <mat-text-column name="phoneNum"></mat-text-column>
                    <mat-text-column name="joinDate"></mat-text-column>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"
                    (click)="addStudent(myRowData)"></tr>
                </table>
                <button *ngIf="offset>0" type="button" mat-raised-button color="primary" 
                    (click)="previousPage()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button *ngIf="nextPageBoolean" type="button" mat-raised-button color="primary" 
                    (click)="nextPage()">
                    <mat-icon>skip_next</mat-icon>
                </button>

                <div *ngIf="addStudentStatement" class="addStudent">
                    <span style="font-size: 20px;">{{ addStudentStatement }} </span>

                    <form [formGroup]="addStudentForm">
                        <mat-form-field appearance="fill">
                            <mat-label>Start Date</mat-label>
                            <mat-select formControlName="startDate">
                            <mat-option  value="This">This Month</mat-option>
                            <mat-option  value="Next">Next Month</mat-option>
                            </mat-select>
                        </mat-form-field>   &nbsp;
                        <button type="button" mat-raised-button (click)="confirmAddStudent()">ADD</button> &nbsp;
                        <button type="button" mat-raised-button (click)="cancelAddStudent()">CANCEL</button>
                    </form>
                </div>
            </div>
            <!-- <mat-list *ngIf="schedules" >   Select * from enrollments where class= className
                <mat-list-item *ngFor="let s of schedules" class="schedule"> {{s}} </mat-list-item>
            </mat-list> -->
        </mat-tab>
    </mat-tab-group>
    

</div>