<mat-card *ngIf="!data.editDetails">
    <mat-card-header>
        <mat-card-title>Upload Pic</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <input type="file" accept="image/*" #uploadFile>
        &nbsp;

        <div>
            <button mat-button type="button" (click)="uploadPic()">UPLOAD</button>
            &nbsp;
            <button mat-button mat-dialog-close>CANCEL</button>
        </div>
    </mat-card-actions>
</mat-card>


<!-- Edit details portion -->
<div *ngIf="data.editDetails">
    
    <h2 mat-dialog-title>Edit details</h2>
    
    <div >
        <form  [formGroup]="teacherDetailsForm" action="">

            <mat-dialog-content>
                <mat-form-field>
                    <mat-label>Phone Number:</mat-label>
                    <input matInput type="number" formControlName="phoneNum">
                    <mat-hint align="end">Enter Phone Number</mat-hint>
                    <mat-error *ngIf="teacherDetailsForm.get('phoneNum')!.invalid">Phone number is required</mat-error>
                </mat-form-field>   <br>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" style="width:100%">
                    <mat-hint align="end">Enter Email</mat-hint>
                </mat-form-field>   <br>
            </mat-dialog-content>

            <mat-dialog-actions>
                <button mat-button (click)="saveEditDetails()" [disabled]="teacherDetailsForm.invalid">SAVE</button>
                <button mat-button mat-dialog-close="0"  >CLOSE</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>