<div class="backgroundDiv">
    <mat-drawer-container class="mainPage">
        <!-- Menu Bars -->
        <mat-drawer #drawer>
            <div class="sideBar">
                <div style="font-size:40px; height:80px; padding-top: 30px; 
                padding-left:30px; font-style:italic">
                    Welcome
                </div>
                <mat-divider></mat-divider>
                <div [routerLink]="['/main']" class="menu">
                    Main
                </div>
                <div [routerLink]="['/classes']" class="menu">
                    Class
                </div>
                <div [routerLink]="['/users']" class="menu">
                    Users and Administration
                </div>
                <div [routerLink]="['/jokes']" class="menu">
                    Dad Jokes
                </div>
                <div [routerLink]="['/location']" class="menu">
                    Location
                </div>
                <div [routerLink]="['/password']" class="menu">
                    Change password
                </div>
                <div [routerLink]="['']" class="menu">
                    Log Out
                </div>
            </div>
        </mat-drawer>
        <div class="topBar">
            <button mat-button (click)="drawer.toggle()" class="drawerButton">
                <mat-icon class="drawerIcon">list</mat-icon></button>
            &nbsp;
            <img style="height:50px" src="/assets/newton_lab.png" alt="" class="logo">
            <span style="font-size: 30px;">NewtonLab Tuition </span>
        </div>
        <!-- End of menu bars -->


        <!-- Start of main class Page -->
        <div class="classPage">
            
            <form [formGroup]="classYearForm">
                <h2><span>Classes</span> &nbsp;   
                    <mat-form-field>
                        <mat-label>Class Year</mat-label>
                        <mat-select formControlName="classYear">
                            <mat-option *ngFor="let year of classYears" value="{{year}}">{{year}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Select Class Year</mat-hint>
                    </mat-form-field>

                    <button mat-raised-button *ngIf="!tForm" type="button" class="addClassButton" 
                        matTooltip="Add Class"    (click)="addClassForm()">+</button>
                    <button mat-raised-button *ngIf="tForm" type="button" class="addClassButton" (click)="closeClassForm()">-</button>
                </h2>
            </form>
            

            <div *ngIf="tForm">
                <mat-card class="addClassForm">
                    <mat-card-header>
                        <mat-card-title>Add Class</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="form">
                                <mat-form-field>
                                    <mat-label>Class Name</mat-label>
                                    <input matInput type="text" formControlName="className">
                                    <mat-hint align="end">Enter class name</mat-hint>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Teacher</mat-label>
                                    <mat-select formControlName="teacherId">
                                        <mat-option *ngFor="let t of teachers, let idx=index" value="{{idx}}">{{t.name}}</mat-option>
                                    </mat-select>
                                    <mat-hint align="end">Select teacher</mat-hint>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field>
                                    <mat-label>Class Year</mat-label>
                                    <mat-select formControlName="classYear">
                                        <mat-option value="thisYear">This Year</mat-option>
                                        <mat-option value="nextYear">Next Year</mat-option>
                                    </mat-select>
                                    <mat-hint align="end">Select year</mat-hint>
                                </mat-form-field>
                                <br>
                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" cols="20" rows="2"></textarea>
                                    <mat-hint align="end">Add description (Optional)</mat-hint>
                                </mat-form-field>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button (click)="closeClassForm()">CANCEL</button> &nbsp;
                        <button mat-raised-button (click)="addClass()">ADD CLASS</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-divider></mat-divider>

            <mat-list *ngIf="classes">   
                <div *ngFor="let class of classes" class="tuitionClass" >
                    <div *ngIf="class.classYear == selectedClassYear">
                        <mat-list-item  
                        [routerLink]="['/classDetails', class.className, class.classYear]">
                            {{ class.className }}
                        </mat-list-item>
                    </div>
                </div>
            </mat-list>

            <button mat-raised-button type="button" [routerLink]="['/main']">BACK TO MAIN</button>
        </div>

    </mat-drawer-container>
</div>