
/* Menu and Page Dimensions */
.mainPage{  width: 600px;   }
.sideBar{   width: 175px;   }
.topBar{    
    background-color: #413C58;
    color: white
   }
.drawerButton{
    margin-left: 15px;
    margin-bottom: 20px;
}
.drawerIcon{
    color: white; 
    font-size: 50px; 
    height:auto; 
    width:auto;
}
mat-drawer{  background-color: #f2dda4;}
.logo{ 
    margin-bottom: -12px;
    margin-top: 10px;
}
.menu {
    font-size: 1rem;
    text-align: left;
    height: 40px;
    padding-top: 18px;
    padding-left: 15px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.menu:hover {
    font-weight: bold;
    background-color: #e7efc5;
}


/* Others */
.scheduleCards{
    margin: 15px;
    background-color: #bfd7b5;
}
.mainContents{  background-color: #e7efc5;}
.scheduleItem{  margin: 8px;    }
.scheduleItem:hover{    background-color: #a3c4bc;    }