<div *ngIf="student">
    <mat-card class="mainCardStyle">

        <!-- Header for name & profilePic -->
        <mat-card-header>   
            <mat-card-title-group>
                <mat-card-title>{{student.name}}</mat-card-title>
                <mat-card-subtitle>Student Id: {{ student.studentId}}</mat-card-subtitle>
                <img mat-card-sm-image *ngIf="student.profilePic!='NA'" 
                    (click)="uploadPic()"   src="{{ student.profilePic }}" >
                <img mat-card-sm-image *ngIf="student.profilePic=='NA'" 
                    (click)="uploadPic()"   src="assets/profile_pic.jpeg" >
            </mat-card-title-group>
        </mat-card-header>
        <mat-divider></mat-divider>
        
        <!-- Content: Display details and enrollments -->
        <mat-card-content>
            <div>
                <span>Phone Number: {{ student.phoneNum }}</span><br>
                <span>Email: {{ student.email }}</span><br>
                <span>Join Date: {{student.joinDate}}</span><br>
                <div>Notes: {{student.notes}}</div>
            </div>

            <mat-divider></mat-divider>

            <div>
                <table class="studentDetailsTable">
                    <tr>
                        <th>Class Name</th>
                        <th>Class Year</th>
                        <th>Start Date</th>
                        <th>Expiry Date</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let enrol of student.enrollments">
                        <td>{{ enrol.className }}</td>
                        <td> {{ enrol.classYear }} </td>
                        <td> {{ enrol.startDate }} </td>
                        <td> {{ enrol.expiryDate}} </td>
                        <td *ngIf="enrol.status=='current'"> 
                            <button mat-raised-button type="button" (click)="extendEnrollment(enrol)">Extend</button>
                        </td>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div>
    <button mat-raised-button type="button" [routerLink]="['/classDetails', currentClassName, currentClassYear]">
        BACK TO {{ currentClassName }}</button>
    &nbsp;
    <button mat-raised-button type="button" [routerLink]="['']">BACK TO MAIN</button>
</div>
