<div class="backgroundDiv">
    <div *ngIf="student">
        <mat-card class="mainCardStyle">

            <!-- Header for name & profilePic -->
            <mat-card-header>   
                <mat-card-title-group>
                    <mat-card-title>{{student.name}}</mat-card-title>
                    <mat-card-subtitle>Student Id: {{ student.studentId}}</mat-card-subtitle>
                    <img mat-card-sm-image *ngIf="student.profilePic!='NA'" matTooltip="Edit Pic"
                        class="profilePic"  (click)="uploadPic()"   src="{{ student.profilePic }}" >
                    <img mat-card-sm-image *ngIf="student.profilePic=='NA'" matTooltip="Upload Pic"
                        class="profilePic"  (click)="uploadPic()"   src="assets/profile_pic.jpeg" >
                </mat-card-title-group>
            </mat-card-header>
            <mat-divider></mat-divider>
            
            <!-- Content: Display details and enrollments -->
            <mat-card-content>
                <div class="studentDetails">
                    <div ><span>Phone Number: {{ student.phoneNum }}</span>
                        <span style="float:right">
                            <button (click)="editStudentDetails()">
                                <mat-icon type="button" fontIcon="edit"></mat-icon>
                            </button>
                        </span>
                        <div style="margin-top:5px;"><span>Email: {{ student.email }}</span></div>
                        <div  style="margin-top:5px;"><span>Join Date: {{student.joinDate}}</span></div>
                        <div style="margin-top:5px;">Notes: {{student.notes}}</div>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div>
                    <table class="studentEnrolTable">
                        <tr>
                            <th>Class Name</th>
                            <th>Class Year</th>
                            <th>Start Date</th>
                            <th>Expiry Date</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let enrol of student.enrollments">
                            <td>{{ enrol.className }}</td>
                            <td> {{ enrol.classYear }} </td>
                            <td> {{ enrol.startDate }} </td>
                            <td> {{ enrol.expiryDate}} </td>
                            <td *ngIf="enrol.status=='current'"> 
                                <button mat-raised-button type="button" (click)="extendEnrollment(enrol)">Extend</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="button" *ngIf="currentClassName"
                [routerLink]="['/classDetails', currentClassName, currentClassYear]">
                    BACK TO {{ currentClassName }}
                </button>
                <button mat-raised-button type="button" *ngIf="!currentClassName"
                [routerLink]="['/users']">
                    BACK TO SEARCH
                </button>
                &nbsp;
                <button mat-raised-button type="button" [routerLink]="['/main']">BACK TO MAIN</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>