<div *ngIf="teacher">
    <mat-card class="mainCardStyle">

        <!-- Header for name & profilePic -->
        <mat-card-header>   
            <mat-card-title-group>
                <mat-card-title>{{teacher.name}}</mat-card-title>
                <mat-card-subtitle>Teacher Id: {{ teacher.studentId}}</mat-card-subtitle>
                <img mat-card-sm-image *ngIf="teacher.profilePic!='NA'" matTooltip="Edit Pic"
                    class="profilePic"  (click)="uploadPic()"   src="{{ teacher.profilePic }}" >
                <img mat-card-sm-image *ngIf="teacher.profilePic=='NA'" matTooltip="Upload Pic"
                    class="profilePic"  (click)="uploadPic()"   src="assets/profile_pic.jpeg" >
            </mat-card-title-group>
        </mat-card-header>
        <mat-divider></mat-divider>
        
        <!-- Content: Display details and enrollments -->
        <mat-card-content>
            <div class="studentDetails">
                <div ><span>Phone Number: {{ teacher.phoneNum }}</span>
                    <span style="float:right">
                        <button (click)="editTeacherDetails()">
                            <mat-icon type="button" fontIcon="edit"></mat-icon>
                        </button>
                    </span>
                    <div style="margin-top:5px;"><span>Email: {{ teacher.email }}</span></div>
                    <div  style="margin-top:5px;"><span>Join Date: {{teacher.joinDate}}</span></div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div>
                <table class="studentEnrolTable">
                    <tr>
                        <th>Class Name</th>
                        <th>Class Year</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let class of teacher.classes">
                        <td> {{ class.className }}</td>
                        <td> {{ class.classYear }} </td>
                    </tr>
                </table>
            </div>

        </mat-card-content>
    </mat-card>
</div>

<div>
    <button mat-raised-button type="button" *ngIf="currentClassName"
    [routerLink]="['/classDetails', currentClassName, currentClassYear]">
        BACK TO {{ currentClassName }}
    </button>
    <button mat-raised-button type="button" *ngIf="!currentClassName"
    [routerLink]="['/users']">
        BACK TO SEARCH
    </button>
    &nbsp;
    <button mat-raised-button type="button" [routerLink]="['/main']">BACK TO MAIN</button>
</div>
