<mat-card class="mainCardStyle">
    <mat-card-header>
        <mat-card-title>Attendance</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let s of classStudents" >
                <div *ngIf="!isPastSchedule">
                    <div *ngIf="s.present && s.status=='current'" style="display:flex; justify-content: space-between;">
                        <span>Student Id: {{ s.studentId}}, Name: {{ s.name }}  </span>
                        <span> PRESENT </span>
                    </div>

                    <div *ngIf="!s.present && s.status=='current'" (click)="markAttendance(s.phoneNum)">
                        Student Id: {{ s.studentId}}, Name: {{ s.name }}
                    </div>
                </div>
                <!-- Grey out for past schedules -->
                <div *ngIf="isPastSchedule">
                    <div *ngIf="s.present && s.status=='current'" 
                        style="color: #808080; display:flex; justify-content: space-between;">
                        <span >Student Id: {{ s.studentId}}, Name: {{ s.name }}  </span>
                        <span> PRESENT </span>
                    </div>

                    <div *ngIf="!s.present && s.status=='current'" style="color: #808080">
                        Student Id: {{ s.studentId}}, Name: {{ s.name }}
                    </div>
                </div>
            </mat-list-item>
        </mat-list>


    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button [routerLink]="['/classDetails', currentClassName, currentClassYear]">
            BACK TO {{ currentClassName }} 
        </button>
        &nbsp;
        <button mat-raised-button [routerLink]="['/main']">BACK TO MAIN</button>
    </mat-card-actions>



</mat-card>



